.about-me {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 95vh;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(to bottom, #164034, #af8d71);
  background-repeat: no-repeat;
  color: white;
}

.about-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: -8%;
  text-align: center;
  padding: 10px;
  width: 50%;
  font-size: 20px;
}

header h4 {
  font-size: 90px;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: 1s ease;
}

.links {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.links svg {
  margin: 30px;
  color: white;
}

.links svg:hover {
  color: #164034;
  transition: .5s ease;
}
