body {
  background-color: #295c5d;
  font-family: 'Lato', sans-serif;
  color: #f1e2c4;
}

main {
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  background-color: #295c5d;
  border: 2px solid #f1e2c4;
  font-size: 20px;
  border-radius: 5px;
  color: #f1e2c4;
  padding: 5px;
}

button:hover {
  background-color: #16292c;
  transition: .5s ease;
}
