body {
  background-color: #af8d71;
  font-family: 'Lato', sans-serif;
  color: white;
}

main {
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  background-color: #af8d71;
  border: 3px solid #ad640f;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

button:hover {
  background-color: #164034;
  transition: .5s ease;
}
