.contact-me {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #295c5d, #16292c);
}

.contact-me h3 {
  font-size: 40px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {

  .contact-me h3 {
    font-size: 20px;
  }
}
