.form-container {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px;
  color: #f1e2c4;
  background-color: #16292c;
  border: 2px solid #f1e2c4;
  text-align: center;
  width: 30%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form label {
  display: block;
  margin: 10px;
}

.contact-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  width: 50%;
}

.contact-form textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 15px;
  height: 100px;
  width: 200px;
}

.contact-form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
