nav {
  position: sticky;
  /*height: 30%;*/
  width: 100%;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16292c;
}

nav ul li {
  float: right;
  border-left:1px solid #f1e2c4;
}

nav ul li:first-child {
  border-left: none;
  float: left;
  padding-left: 1%;
  width: 8%;
  padding-top: .2%;
  max-width: 110px;
}

nav ul li img {
  width: 100%;
}

nav ul li a {
  display: block;
  color: #f1e2c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: #295c5d;
  transition: .4s ease;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  nav ul li a {
    padding: 2px 4px;
    font-size: 10px;
  }

  nav ul li:first-child {
    border-left: none;
    float: left;
    width: 20%;
    padding-top: 0px;
  }
}

@media only screen
and (min-width : 700px)
and (max-width : 1024px) {
  nav ul li:first-child {
    width: 30%;
  }
}
